body{
    margin: 0;
    padding: 0;
}
.foot-text{
    h2{
        background-color: #000000b9;
        font-size: 15px;
        height: 100px;
        padding: 50px;
        color: #000000b9;
    }
}
   